@font-face {
    font-family: futura;
    src: url('./fonts/futuramediumbt.ttf');
}

:root {
    --primary-color: #444444;

    font-size: 12px;
    font-family: futura, sans-serif;
}

#mainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.imageBG {
    width: 25%;
    height: auto;
    background-image: url('./images/moon.jpg');
    background-size: cover;
    background-position: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

input {
    width: 10%;
}