@font-face {
    font-family: futura;
    src: url('./fonts/futuramediumbt.ttf');
}

:root {
    --primary-color: #444444;

    font-size: 12px;
    font-family: futura, sans-serif;
}



#mainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F9FAFB;
}

.imageBG {
    width: 30%;
    height: auto;
    background-image: url('./images/space.jpg');
    background-size: cover;
    background-position: center;
}
#logoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#imageContainer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
}

#odinLogo {
    width: 25%;
    height: auto;
}

#imageCredit {
    color: #95bdd0;
}

#formDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
}
.formHeading {
    font-size: 20px;
    padding-bottom: 16px;
}
.labels {
    font-size: 16px;
}
.inputs {
    width: min(250px, 100%);
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding: 4px 0px;
}
.inputs:focus {
    outline: 1px solid #1D4ED8;
    box-shadow: 5px 5px 5px #E5E7EB;
}
.inputs:invalid {
    outline: 1px solid #B91C1C;
}
#textContainer {
    width: 65%;
}
#text {
    font-size: 28px;
}
.textSection {
    padding: 32px 0px 32px 32px;
}
.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: min(800px, 100%);
    gap: 32px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 4px;
}
#form {
    background-color: #ffffff;
    width: 100%;
}

h2 {
    margin: 0px;
    padding: 0px;
}